.calculator {
    position: relative;
    margin-bottom: 340px;

    @media #{$tablet} {
        margin-bottom: 80px;
    }

    h2 {
        margin-bottom: 50px;
        
        @media #{$phone} {
            &::before, &::after {
                content: none;
            }
        }
    }

    &>img {
        position: absolute;
        pointer-events: none;
        max-width: none;
        width: 99px;
        top: 0;
        right: 257px;

        @media #{$desktop} {
            right: 100px;
        }

        @media #{$tablet} {
            z-index: 1;
            top: auto;
            right: 26px;
            bottom: 530px;
        }
    }

    &__content {
        position: relative;
        display: flex;
        gap: 10px;

        @media #{$tablet} {
            flex-direction: column;
            gap: 78px;
        }

        &>img {
            position: absolute;
            pointer-events: none;
            width: 650px;
            top: 100px;
            left: -75px;
            opacity: .5;

            @media #{$tablet} {
                display: none;
            }
        }
    }

    &__control_step {
        &_1, &_2 {
            width: 50%;

            @media #{$tablet} {
                width: 100%;
            }

            &.disabled {
                display: none;
            }

            h3 {
                font-family: $font-main;
                font-weight: $font-weight-bold;
                font-size: 30px;
                line-height: 30px;
                color: $color-black;
                margin: 0 0 -60px;
                z-index: -1;

                @media #{$tablet} {
                    font-size: 25px;
                    line-height: 25px;
                    text-align: start;
                    display: flex;
                    align-items: end;
                    width: 100%;
                    margin: 0 0 25px;
                }
    
                &::before, &::after {
                    content: none;
                }
    
                span {
                    font-size: 150px;
                    line-height: 125px;
                    color: #CFD3DB;

                    @media #{$tablet} {
                        font-size: 60px;
                        line-height: 45px;
                    }
                }
            }
    
            &>div {
                display: flex;
                margin-left: 125px;

                @media #{$tablet} {
                    margin-left: 0;
                }
            }

            .calculator__input {
                display: flex;
                height: 176px;
                border-radius: 40px;
                background: rgba(255, 255, 255, 0.3);
                box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.10);
                transition: all .2s ease-in-out;

                @media #{$tablet} {
                    height: 150px;
                }
        
                &:hover {
                    background: rgba(255, 255, 255, 0.5);
                    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.10);
                }
        
                &>div {
                    padding: 26px 27px 0 33px;
                }
        
                input {
                    display: none;
        
                    &:checked {
                        +label {
                            &>span:last-of-type {
                                &::before {
                                    transform: translateX(21px);
                                }
        
                                &::after {
                                    opacity: 1;
                                }
                            }
                        }
                    }
        
                    +label {
                        font-family: $font-main;
                        font-weight: $font-weight-bold;
                        font-size: 25px;
                        letter-spacing: 0.25;
                        color: #7D889A;
                        position: relative;
                        transition: all .2s ease-in-out;
                        cursor: pointer;
                        z-index: 1;
        
                        b {
                            font-size: 50px;
                            color: $color-primary-text;
                        }

                        i {
                            font-family: $font-second;
                            font-weight: $font-weight-regular;
                            font-style: normal;
                            font-size: 18px;
                        }

                        &>span:last-of-type {
                            position: relative;
                            display: flex;
                            width: 48px;
                            height: 27px;
                            background-color: #D8DEE8;
                            border-radius: 22.5px;
                            transition: all .2s ease-in-out;
        
                            &::before {
                                content: '';
                                position: absolute;
                                width: 25px;
                                height: 25px;
                                background-color: $color-white;
                                border-radius: 50%;
                                transition: all .2s ease-in-out;
                                z-index: 1;
                                top: 1px;
                                left: 1px;
                            }
        
                            &::after {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background: linear-gradient(90deg, rgba(226,28,42,1) 0%, rgba(236,199,10,1) 100%);
                                border-radius: 22.5px;
                                transition: all .2s ease-in-out;
                                opacity: 0;
                                top: 0;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }

        &_1 {
            &>div {
                flex-direction: column;
                gap: 20px;

                @media #{$tablet} {
                    gap: 10px;
                }
            }

            .calculator__input {
                input {
                    &:checked {
                        +label {
                            color: #E21C2A;
                        }
                    }

                    +label {
                        line-height: 22px;

                        &>span:last-of-type {
                            margin-top: 7px;
                        }
                    }
                }

                &>div {
                    @media #{$tablet} {
                        padding: 20px;
                    }
                }
            }

            img {
                position: relative;
                max-width: 300px;
                object-fit: contain;
                margin: 0 auto;
                pointer-events: none;
                z-index: 1;

                @media #{$desktop} {
                    max-width: 250px;
                }

                @media screen and (max-width: 1100px) {
                    max-width: 175px;
                }

                @media #{$tablet} {
                    max-width: none;
                }

                @media #{$phone} {
                    max-width: 175px;
                }
            }
        }

        &_2 {
            &>div {
                position: relative;
                flex-wrap: wrap;
                gap: 20px 2%;

                @media #{$tablet} {
                    gap: 10px;
                }
            }

            .calculator__input {
                width: 49%;

                @media #{$tablet} {
                    width: 100%;
                }

                &.back {
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    cursor: pointer;

                    @media #{$tablet} {
                        position: absolute;
                        height: 50px;
                        bottom: -73px;
                    }

                    p {
                        font-family: $font-main;
                        font-weight: $font-weight-bold;
                        font-size: 25px;
                        letter-spacing: 0.25;
                        color: #7D889A;
                        display: flex;
                        align-items: center;
                        
                        img {
                            width: 12px;
                            height: 12px;
                            margin-right: 12px;
                            rotate: 180deg;
                        }
                    }
                }

                &>div {
                    @media screen and (max-width: 1400px) {
                        padding: 26px 10px 0 20px;
                    }

                    @media #{$tablet} {
                        padding: 25px 20px;
                    }
                }

                input {
                    &:checked {
                        +label {
                            b, i {
                                color: #E21C2A;
                            }
                        }
                    }

                    +label {
                        line-height: 20px;

                        @media screen and (max-width: 1200px) {
                            font-size: 20px;
                            line-height: 15px;
                        }

                        @media #{$tablet} {
                            font-size: 23px;
                            line-height: 20px;
                        }

                        div {
                            display: flex;
                            align-items: end;

                            &:nth-of-type(2) {
                                margin-top: 8px;
                            }
                        }

                        b {
                            line-height: 30px;

                            @media screen and (max-width: 1200px) {
                                font-size: 35px;
                            }

                            @media #{$tablet} {
                                font-size: 50px;
                            }
                        }
                        
                        i {
                            line-height: 18px;
                            

                            @media #{$desktop} {
                                font-size: 16px;
                                line-height: 16px;
                            }

                            @media screen and (max-width: 1200px) {
                                font-size: 14px;
                                line-height: 12px;
                            }

                            @media screen and (max-width: 1100px) {
                                font-size: 12px;
                            }

                            @media #{$tablet} {
                                font-size: 14px;
                            }
                        }

                        &>span:last-of-type {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }

    &__visual {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        background: url(../images/calculator-bg.jpg) no-repeat;
        background-position: center;
        padding: 70px 23px 120px;
        border-radius: 0 0 40px 40px;

        @media #{$tablet} {
            width: 100%;
            height: 647px;
            background-size: cover;
        }

        @media #{$phone} {
            padding: 100px 20px 120px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 200px;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, #EEF2F5 62.19%);
            top: 0;
            left: 0;
        }

        &>img {
            position: relative;
            max-width: none;
            z-index: 1;

            @media #{$phone} {
                max-width: 350px;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            p {
                font-family: $font-main;
                font-weight: $font-weight-bold;
                font-size: 24px;
                color: #0197D7;

                span {
                    font-size: 40px;
                    color: $color-white;
                }
            }

            button {
                &::before {
                    background: url(../images/svg/btn-arrow-white.svg) no-repeat;
                }
            }
        }

        &__areas {
            display: flex;
            width: 100%;

            @media #{$tablet} {
                margin-bottom: 20px;
            }
        }

        &__area {
            display: flex;
            width: 100%;

            @media #{$tablet} {
                flex-direction: column;
                align-items: center;
            }

            &.disabled {
                display: none;
            }

            &>div {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32.3%;
                height: 134px;
                background: rgba(255, 255, 255, 0.20);
                box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.25);
                padding: 0 20px;
                border-radius: 20px;
                z-index: 1;

                @media #{$tablet} {
                    width: 100%;
                    height: 75px;
                }

                &:last-of-type {
                    &::after {
                        content: none;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%);
                    border-radius: 20px;
                    z-index: -1;
                    top: 0;
                    left: 0;
                }

                p {
                    font-family: $font-main;
                    font-weight: $font-weight-bold;
                    font-size: 23px;
                    line-height: 18px;
                    color: $color-white;

                    @media screen and (max-width: 1200px) {
                        font-size: 20px;
                        line-height: 16px;
                    }

                    @media #{$tablet} {
                        font-size: 23px;
                        line-height: 18px;
                    }

                    b {
                        font-size: 50px;
                        line-height: 40px;
                        color: $color-primary-text;

                        @media screen and (max-width: 1200px) {
                            font-size: 35px;
                            line-height: 30px;
                        }

                        @media #{$tablet} {
                            font-size: 50px;
                            line-height: 40px;
                        }
                    }
                }
            }

            &>span {
                font-size: 50px;
                color: $color-white;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 10px;
                height: 65px;
                background: rgba(255, 255, 255, 0.40);
                box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.25);
                margin: auto 0;
                z-index: 1;

                @media #{$tablet} {
                    width: 105px;
                    height: 30px;
                }

                &::before, &::after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-color: #0081C2;
                    left: 0;

                    @media #{$tablet} {
                        width: 30px;
                        height: 30px;
                        background-color: #0063A5;
                        left: auto;
                        top: 0;
                    }
                }

                &::before {
                    top: 0;
                    border-radius: 0 0 10px 10px;

                    @media #{$tablet} {
                        left: 0;
                        border-radius: 0 30px 30px 0;
                    }
                }

                &::after {
                    bottom: 0;
                    border-radius: 10px 10px 0 0;

                    @media #{$tablet} {
                        right: 0;
                        border-radius: 30px 0 0 30px;
                    }
                }
            }
        }
    }
}