.header {
    position: fixed;
    width: 100%;
    z-index: 10;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 244px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
        pointer-events: none;
        z-index: -1;
    }

    .section-box {
        @media #{$tablet} {
            padding: 0;
        }
    }

    &__content {
        position: relative;
        display: flex;
        width: 100%;
        height: 108px;
        background: #19213266;
        box-shadow: 0px 4px 60px 0px #00000026;
        backdrop-filter: blur(15px);
        padding: 6px 25px 0 15px;
        border-radius: 20px;
        margin-top: 10px;
        z-index: 1;

        @media #{$tablet} {
            height: 90px;
            padding: 5px 0 0 14px;
            border-radius: 0 !important;
            margin: 0;
        }

        &>div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
        }
    }

    &__logo {
        width: 122px;
        height: 122px;
        margin-right: 7px;

        @media #{$tablet} {
            width: 54px;
            height: 54px;
        }

        img {
            max-width: none;
            width: inherit;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 47px;

        @media #{$tablet} {
            flex-direction: column;
            height: 100%;
        }
    }

    &__title {
        font-family: $font-main;
        font-weight: $font-weight-bold;
        font-size: 20px;
        line-height: 25px;
        color: #BCC1CA;

        @media #{$tablet} {
            font-size: 15px;
            line-height: 19px;
        }

        span {
            font-size: 30px;
            color: $color-active-tertiary;
        }
    }

    &__connection {
        display: flex;
        gap: 26px;
        margin-top: 4px;

        @media #{$tablet} {
            justify-content: space-between;
            align-items: center;
            gap: 0;
            margin: 0;
        }
    }

    &__burger-btn {
        position: relative;
        display: none;
        width: 32px;
        height: 14px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        
        @media #{$tablet} {
            display: flex;
        }

        span {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #D9D9D9;
            left: 0;

            &:nth-of-type(1) {
                top: 0;
            }

            &:nth-of-type(2) {
                top: 50%;
                transform: translateY(-50%);
            }

            &:nth-of-type(3) {
                bottom: 0;
            }
        }
    }

    &__mail {
        font-size: 16px;
        line-height: 19px;
        color: #B9BFC9;
        text-decoration: none;
        display: flex;
        align-items: center;
        height: max-content;

        @media #{$tablet} {
            display: none;
        }

        svg {
            margin-right: 9px;

            path {
                transition: all .1s linear;
            }
        }

        &:hover {
            path {
                stroke: $color-active;
            }
        }
    }

    &__tel {
        font-family: $font-main;
        font-weight: $font-weight-bold;
        font-size: 30px;
        line-height: 20px;
        color: $color-white;
        text-decoration: none;
        text-align: right;
        height: max-content;

        @media #{$tablet} {
            font-size: 18px;
            line-height: 18px;
            display: flex;
            align-items: center;
            background: #1313134D;
            box-shadow: 0px 4px 30px 0px #0000004D inset;
            backdrop-filter: blur(15px);
            padding: 11px 14px 7px 28px;
            border-radius: 80px 0 0 0;
        }

        svg {
            margin: 6px 10px auto 0;

            @media #{$tablet} {
                margin: 0 11px 0 0;
            }

            path {
                transition: all .1s linear;
            }
        }

        b {
            color: #B1B1B1;
        }

        span {
            font-size: 18px;
            line-height: 18px;
            color: $color-active-secondary;

            @media #{$tablet} {
                display: none;
            }
        }
        
        &:hover {
            path {
                &:nth-of-type(1) {
                    fill: $color-active;
                }

                &:nth-of-type(2) {
                    stroke: $color-active;
                }
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
        margin-top: auto;

        @media #{$tablet} {
            display: none;
        }
    }

    &__menu {
        max-width: 1176px;
        width: 100%;
        height: 50px;
        background: #1313134D;
        box-shadow: 0px 4px 30px 0px #0000004D inset;
        backdrop-filter: blur(15px);
        padding: 0 84px 0 66px;
        border-radius: 80px 80px 0 0;

        @media screen and (max-width: 1400px) {
            padding: 0 50px 0 50px;
        }

        a:last-of-type {
            margin-left: auto;
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 68px;
        height: 36px;
        background: #1313134D;
        box-shadow: 0px 4px 30px 0px #0000004D inset;
        backdrop-filter: blur(15px);
        border-radius: 26.5px;
        margin-left: 10px;

        path {
            transition: all .1s linear;
        }

        &:hover {
            path {
                fill: rgb(0, 119, 255);
            }
        }
    }

    &__drop-down {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        background: #19213266;
        box-shadow: 0px 4px 60px 0px #00000026;
        backdrop-filter: blur(15px);
        padding: 52px 155px 45px;
        border-radius: 0 0 20px 20px;

        @media #{$tablet} {
            display: none !important;
        }

        a {
            font-family: $font-main;
            font-weight: $font-weight-regular;
            font-size: 25px;
            line-height: 30px;
            text-decoration: none;
            transition: all .1s linear;

            &:hover, &.active {
                color: $color-active-secondary;
            }
        }
    }
}