.menu {
    display: flex;
    gap: 100px;

    @media screen and (max-width: 1400px) {
        gap: 50px;
    }

    @media #{$desktop} {
        gap: 25px;
    }

    a {
        font-family: $font-main;
        font-weight: $font-weight-bold;
        font-size: 20px;
        line-height: 50px;
        color: $color-white;
        text-decoration: none;
        position: relative;
        transition: all .1s linear;

        &:hover, &.active {
            color: $color-active-secondary;

            &::before {
                opacity: 1;
            }
        }

        &.active-secondary {
            color: $color-active-tertiary;
        }

        &.disabled {
            pointer-events: none;
            color: #76828E;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $color-active-secondary;
            transition: all .1s linear;
            left: 0;
            bottom: 0;
            opacity: 0;
        }
    }
}